.overlay {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0,0,0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
 }
 
 .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 32px;
  width: 900px;
  /* height: 600px; */
  position: relative;
  box-sizing: border-box;
}
 
 .closeBtn {
   position: absolute;
   top: 30px;
   right: 30px;
   width: 60px;
   height: 60px;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   transform: rotate(45deg);
 }

 .closeBtn::before {
   content: '';
   background-image: url('close.svg');
   background-size: contain; 
   background-repeat: no-repeat;
   background-position: center;
   transform: rotate(45deg);
   width: 70px; 
   height: 70px;
   position: absolute;
 }

 .nameWindow{
   font-family: "Inter", sans-serif;
   font-size: 29px;
   font-weight: 500;
   margin-top: 43px;
   margin-bottom: 30px;
 }

 .ContentScroll{
   width: 800px;
   max-height: 370px;
   overflow-y: auto;
   overflow-x: hidden;
   box-sizing: border-box;
   padding-right: 30px;
 }

 .Content{
   width: 790px;
   margin-top: 6px;
   margin-bottom: 6px;
 }

 .ContentScroll::-webkit-scrollbar {
   width: 10px;
 }
 
 .ContentScroll::-webkit-scrollbar-thumb {
   background: #d1d5db;
   border-radius: 8px;
   border: 2px solid white; 
 }
 
 .ContentScroll::-webkit-scrollbar-track {
   background: transparent;
   margin: 4px 0;
   border-radius: 8px;
 }

 .ButtonsContainer{
   display: flex;
   margin-top: 30px;
   width: 790px;
   gap: 80px;
   justify-content: flex-end;
   margin-bottom: 30px;
 }

 .Button{
   color: white;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   width: 130px;
   height: 35px;
   border: none;
   border-radius: 25px;
   background-color: #5D3C64;
   cursor: pointer;
   text-align: center;
}

.table{
   border: solid 3px #5D3C64;
   border-collapse: collapse;
   font-size: 18px;
   font-family: "Inter", sans-serif;
}